div {
  overflow: hidden;
}

html, body {
  max-height: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

body
{
 margin: 0;
 padding: 0;
}

.page {
  max-height: 100vw;
  overflow: hidden;
}

.summer-sale-for {
  position: relative;
  line-height: 21px;
  display: inline-block;
  width: 474px;
  height: 18px;
  flex-shrink: 0;
}
.shopnow {
  position: relative;
  text-decoration: underline;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
}
.summer-sale-for-all-swim-suits-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.english {
  position: relative;
  line-height: 21px;
}
.dropdown-icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.english-parent,
.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
}
.frame-parent {
  position: absolute;
  top: 12px;
  right: 136px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-212xl);
}
.exclusive,
.top-header {
  position: absolute;
  top: 0;
  left: 0;
}
.top-header {
  background-color: var(--primary-black);
  width: 1440px;
  height: 48px;
  overflow: hidden;
  font-size: var(--title-14px-regular-size);
  color: var(--secondary-white);
}
.exclusive {
  letter-spacing: 0.03em;
  line-height: 24px;
}
.logo {
  position: relative;
  width: 118px;
  height: 24px;
}
.home {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.header1,
.header2 {
  position: relative;
  width: 48px;
  height: 24px;
}
.header2 {
  width: 66px;
}
.about {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 24px;
}
.header4 {
  position: relative;
  width: 61px;
  height: 24px;
}
.header-parent,
.logo-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.header-parent {
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--font-size-m);
  font-family: var(--font-family-poppins);
}
.logo-parent {
  gap: var(--gap-141xl);
}
.what-are-you {
  position: relative;
  line-height: 18px;
  opacity: 0.5;
  font-size: var(--font-size-xs);
}
.what-are-you-looking-for-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 34px;
  gap: var(--gap-15xl);
}
.search-component-set {
  border-radius: var(--br-9xs);
  background-color: var(--secondary-beige);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-xl); */
}
.wishlist-icon {
  overflow: hidden;
  flex-shrink: 0;
}
.cart1-with-buy,
.user-icon,
.wishlist-icon {
  position: relative;
  width: 32px;
  height: 32px;
}
.user-icon {
  border-radius: var(--br-28xl);
  overflow: hidden;
  flex-shrink: 0;
}
.wishlist-parent {
  position: absolute; 
  right: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
  right: 27%;
}
.header,
.search-component-set-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 57%;
  width: 100%;
}
.search-component-set-parent {
  gap: var(--gap-5xl);
  font-size: var(--font-size-xs);
  font-family: var(--font-family-poppins);
}
.header {
  position: absolute;
  top: 88px;
  left: 135px;
  gap: 130px;
  font-size: var(--font-size-l);
  font-family: var(--font-family-inter);
}
.account-child {
  position: absolute;
  top: 142px;
  left: 0;
  width: 1440px;
  height: 0.5px;
}
.account1 {
  position: relative;
  line-height: 21px;
  opacity: 0.5;
}
.roadmap-child {
  position: relative;
  width: 6.89px;
  height: 12.2px;
}
.nothing1,
.roadmap-item {
  position: relative;
  display: none;
}
.roadmap-item {
  width: 13.19px;
  height: 0;
}
.nothing1 {
  line-height: 21px;
}
.roadmap {
  position: absolute;
  top: 200px;
  left: 135px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-s);
}
.md-rimel {
  color: var(--primary-red);
}
.welcome-md-rimel-container {
  position: absolute;
  top: 200px;
  left: 1100px;
  font-size: var(--font-size-s);
  line-height: 21px;
  white-space: nowrap;
  font-family: var(--font-family-poppins);
}
.manage-my-account,
.my-orders,
.my-wishlist {
  position: absolute;
  top: 57%;
  left: 8%;
  line-height: 24px;
  font-weight: 500;
}
.my-orders,
.my-wishlist {
  top: 475px;
}
.my-wishlist {
  top: 587px;
  display: inline-block;
  width: 93px;
  height: 23px;
}

.my-profile {
  color: var(--primary-red);
}

.my-profile, .address-book {
  position: relative;
  line-height: 24px;
  font-family: var(--font-family-poppins);
}

.about, .my-profile:hover, .address-book:hover, .wishlist-icon:hover, .cart1-with-buy:hover, .user-icon:hover, .home:hover, .dropdown-icon:hover, .shopnow:hover, .save-changes:hover, .cancel-changes:hover {
  cursor: pointer;
}

.address-book {
  opacity: 0.5;
}
.my-profile-parent,
.my-returns-parent {
  position: absolute;
  top: 363px;
  left: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.my-returns-parent {
  top: 515px;
}
.edit-your-profile {
  position: absolute;
  top: 40px;
  left: 80px;
  font-size: var(--font-size-20px);
  line-height: 28px;
  font-weight: 500;
  color: var(--primary-red);
}
first-name.first-name {
  position: relative;
  line-height: 24px;
}

.edit-your-profile, .first-name, .place-to-info-box, .md, .save-changes, .cancel-changes, .my-orders, .my-wishlist, .manage-my-account, .account1, .english {
  font-family: var(--font-family-poppins);
}

.place-to-info-box {
  position: absolute;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--secondary-beige);
  overflow: hidden;
}
.md {
  position: absolute;
  top: 13px;
  left: 16px;
  line-height: 24px;
  opacity: 0.5;
}
.placebox-info {
  position: relative;
  width: 330px;
  height: 50px;
}
.first-name-parent,
.frame-container,
.frame-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-container,
.frame-group {
  position: absolute;
  top: 84px;
  left: 80px;
  flex-direction: row;
  gap: var(--gap-31xl);
}
.frame-container {
  top: 190px;
}
.placebox-info4 {
  position: relative;
  width: 710px;
  height: 50px;
}

.frame-div {
  position: absolute;
  top: 296px;
  left: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}

.save-changes {
  display: flex;
  padding: 16px 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  line-height: 24px;
  font-weight: 500;
  border-radius: 4px;
}

button.cancel-changes {
  background-color: var(--primary-white);
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-light);
  line-height: var(--font-size-l); 
}

.cancel-changes, .save-changes {
  border-style: none; 
}

.cancel-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: calc(50% + 230px);
  right: 80px;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}

button.save-changes {
  border-radius: var(--br-9xs);
  background-color: var(--primary-red);
  justify-content: center;
  /* padding: var(--padding-base) var(--padding-29xl); */
  color: var(--secondary-white);
}

.edit-your-profile-parent {
  flex-direction: row;
  position: absolute;
  top: 50%;
  left: 35%;
  border-radius: var(--br-9xs);
  background-color: var(--primary-white);
  box-shadow: var(--categogy-5);
  width: 60%;
  height: 630px;
  overflow: hidden;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);;
}
.underline-icon {
  position: relative;
  width: 1440px;
  height: 1px;
  opacity: 0.5;
}
.icon-copyright {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame-wrapper,
.icon-copyright-parent,
.underline-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon-copyright-parent {
  gap: var(--gap-7xs);
}
.frame-wrapper,
.underline-parent {
  opacity: 0.6;
}
.underline-parent {
  position: absolute;
  top: 376px;
  left: 0;
  flex-direction: column;
  gap: var(--gap-base);
  opacity: 0.4;
}
.subscribe {
  position: relative;
  font-size: var(--font-size-20px);
  line-height: 28px;
  font-weight: 500;
  font-family: var(--font-family-poppins);
}
.logo-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.enter-your-email,
.get-10-off {
  position: relative;
  line-height: 24px;
}
.get-10-off {
  font-size: var(--font-size-m);
  font-family: var(--font-family-poppins);
}
.enter-your-email {
  opacity: 0.4;
}
.frame-parent2,
.send-mail {
  display: flex;
  justify-content: flex-start;
}
.send-mail {
  border-radius: var(--br-9xs);
  border: 1.5px solid var(--secondary-white);
  box-sizing: border-box;
  width: 217px;
  flex-direction: row;
  align-items: center;
  /* padding: var(--padding-xs) 0 var(--padding-xs) var(--padding-base); */
  gap: var(--gap-13xl);
  font-size: var(--font-size-m);
  font-family: var(--font-family-poppins);
}
.frame-parent2 {
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-l);
  font-family: var(--font-family-inter);
}
.support {
  position: relative;
  line-height: 28px;
  font-weight: 500;
}
.bijoy-sarani-dhaka {
  position: relative;
  line-height: 24px;
  display: inline-block;
  width: 175px;
}
.bijoy-sarani-dhaka-dh-1515-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--font-size-m);
}
.save-3-with {
  position: relative;
  line-height: 18px;
  font-weight: 500;
  opacity: 0.7;
}
.qrcode-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.googleplay-icon,
.qr-code {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.qr-code {
  background-color: var(--primary-black);
  width: 80px;
  height: 80px;
}
.googleplay-icon {
  width: 110px;
  height: 40px;
}
.download-appstore-icon {
  position: absolute;
  top: 2.4px;
  left: 2.4px;
  border-radius: var(--br-9xs);
  width: 105.2px;
  height: 35.2px;
  object-fit: cover;
}
.appstore {
  position: relative;
  background-color: var(--primary-black);
  width: 110px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.googleplay-parent,
.save-3-with-app-new-user-only-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.save-3-with-app-new-user-only-parent {
  gap: var(--gap-5xs);
  font-size: var(--font-size-xs);
}
.frame-parent1,
.icon-facebook-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-parent1 {
  position: absolute;
  top: 80px;
  left: 135px;
  justify-content: center;
  gap: var(--gap-68xl);
  font-size: var(--font-size-20px);
  color: var(--secondary-white);
}
.footer {
  position: absolute;
  top: 1093px;
  left: 0;
  background-color: var(--primary-black);
  width: 1440px;
  height: 440px;
  overflow: hidden;
  color: var(--primary-white);
}
.account {
  position: relative;
  background-color: var(--primary-white);
  width: 100%;
  height: 1533px;
  text-align: left;
  font-size: var(--font-size-m);
  color: var(--primary-black);
  font-family: var(--font-family-poppins);
}